.premButton{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
.premButton button{
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.0rem;
  width: 10rem;
  padding: 0.3rem;
  font-family: inherit;
  font-size: 1rem;
  border: 0;
  border-radius: 0.5rem;
  background: #d38e0e;
  color: #f7f7f7;
  cursor: pointer;
  outline: none;
  transition-property: background,box-shadow;
  transition-duration: 0.35s;
  
}
.premButton button:hover{
  border: 2px solid #0d6efd;
  color: #0d6efd;
  background-color: #17181c;
  box-shadow: 5px 5px 10px #d38e0e;
}
.expdes {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  color: #17181c;
  flex: 1;
  min-width: 150px; 
  max-width: 300px;
}
.expCat {
  display: flex;
  flex-basis: 200px; 
  font-size: 20px;
  align-content: center;
  justify-content: center;
  font-weight: 800;
  color: #17181c;
  margin-top: 5px;
  margin-right: 10px; 
} 
.expAmount {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 14px;
  max-width: 400px;
}
.moneyItemslabel { 
  text-align: center;
  border: 2px solid grey;
  border-width: 1px;
  border-color: rgb(192, 192, 192);
  font-family: "product sans";
  width: 130px;
  height: 43px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  color: white;
  background-color: darkred;
}
 .expenses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 0.5px solid grey;;
}

.expenses .editDeleteButtons {
  align-items: center;
  display: flex;
  flex-basis: 200px;
  justify-content: center;
  flex-direction:column;
}

.expenses .editDeleteButtons button {
  margin-top: 5px;
  min-width: 80px;
  min-height: 8px;
  margin-bottom: 5px;
} 
