.titlelabels {
    cursor: pointer;
    margin-left: 40px;
    align-content: center;
    color: white;
    font-weight: 5px;
    /* font-size: large; */
  }
  .nav-link{
    color: white;
  }

  

  .button {
    border: none;
    cursor: pointer;
    margin-left: 40px;
    align-content: center;
    color: white;
    font-weight: 5px;
    background: transparent;
    
  }
  .button:hover{
    color: black;
  }
   .active {
    color: #95bcf0;
   
    /* padding-bottom: 0.25rem; */
    /* border-bottom: 4px solid #95bcf0; */
 } 
  .myweb {
    padding-left: 40px;
    font-weight: bold;
  }
  .margin {
    border-bottom: 2px solid white;
  }
  