.myCardDiv {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px;
  border: 2px solid grey;
  margin: 30px;
  padding: 20px;
  text-align: center;
  
    /* background-color: aquamarine; */
  }