.Card {
    height: auto;
    width: 18rem;
    margin: auto;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(248, 248, 248);
    
    

}
.Card h1 {
    color: black;
    font-size: x-large;
    margin-bottom: 2rem;
}

.Card Form {
    /* background-color: rgb(248, 248, 248); */
    /* border-radius: 5%; */
    /* padding: 2rem; */
    
    
}
.Card Form Label {
    display: block;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0.5rem;
    color: darkred;
}
.Card Form Button{
    display: block;
    width: 100%;
    text-align: center;
}
.Card button:hover {
    background-color: #ad3e3e;
    border-color: #ffffff;
  }

  .div img {
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    width: 50%;
  }
  
.section {
    background-color: rgb(248, 248, 248);
    border: 0.05rem solid rgb(185, 185, 185);
    width: 18rem;
    margin: auto;
    margin-top: 0.5rem;
    
}
.section button{
    font-size: medium;
    background-color: transparent;
    border: none;
    padding: 0.5rem 1.5rem;
}

